<?xml version="1.0"?>
<config>
    <modules>
        <Utils_Script>
            <version>0.1.0</version>
        </Utils_Script>
    </modules>
    <global>        
        <models>
            <utils_script>
                <class>Utils_Script_Model</class>
            </utils_script>
        </models>
        <helpers>
            <utils_script>
                <class>Utils_Script_Helper</class>
            </utils_script>
        </helpers> 
    </global>        
</config>